/*  布局  */
.static{
	position:static;
}
.fixed{
	position:fixed;
}
.relative{
	position:relative;
}
.ab{
	position:absolute;
}
.pull-left{
	float:left;
}
.pull-right{
	float:right;
}
.clearfix::after{
	content:" ";
	display:table;
	clear:both;
}
.table{
	display:table;
}
.table-cell{
	display:table-cell;
}
.block{
	display:block;
}

.center-block{
	display:block;
	margin-left:auto;
	margin-right:auto;
}
.center-table{
	display:table;
	margin-left:auto;
	margin-right:auto;
}
	/* 通常需要绝对定位居中的都是水平垂直都居中 */
.center-ab{
	position:absolute;
	left:50%;
	top:50%;
	-webkit-transform:translate(-50%,-50%);
	-moz-transform:translate(-50%,-50%);
	-ms-transform:translate(-50%,-50%);
	-o-transform:translate(-50%,-50%);
	transform:translate(-50%,-50%);
}
.center-ab-x{
	position:absolute;
	left:50%;
	top:50%;
	-webkit-transform:translate(-50%,0);
	-moz-transform:translate(-50%,0);
	-ms-transform:translate(-50%,0);
	-o-transform:translate(-50%,0);
	transform:translate(-50%,0);
}
.center-ab-y{
	position:absolute;
	left:50%;
	top:50%;
	-webkit-transform:translate(0,-50%);
	-moz-transform:translate(0,-50%);
	-ms-transform:translate(0,-50%);
	-o-transform:translate(0,-50%);
	transform:translate(0,-50%);	
}
.center-cell{
	display:table-cell;
	vertical-align:middle;
}

.vertical-middle{
	vertical-align:middle;
}
.vertical-top{
	vertical-align:top;
}
.vertical-bottom{
	vertical-align:bottom;
}












/*  文字排版 */
.text-left{
	text-align:left;
}
.text-center{
	text-align:center;
}
.text-right{
	text-align:right;
}
.text-weight{
	font-weight:bold;
}
.text-italic{
	font-style:italic;
}
.text-underline{
	text-decoration:underline;
}
.text-overline{
	text-decoration:overline;
}
.text-through{
	text-decoration:line-through;
}
.text-oneline{
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}
.text-paraindent{
	text-indent:2em;
}


/* 图片  */
.img-responsive{
	display:block;
	max-width:100%;
}



/* 图形  */
.square{
	position:relative;
}
.square::before{
	content:'';
	display:block;
	padding-bottom:100%;
}
.circle{
	position:relative;
	border-radius:50%;
}
.circle::before{
	content:'';
	display:block;
	padding-bottom:100%;	
}
	/*椭圆*/
.ellipse{
	border-radius:50%;
}
	/*半椭圆*/
.ellipse-top{
	border-radius:50%/100% 100% 0 0;
}
.ellipse-bottom{
	border-radius:50%/0 0 100% 100%;
}
.ellipse-left{
	border-radius:100% 0 0 100%/50%;
}
.ellipse-right{
	border-radius:0 100% 100% 0 / 50%;
}
	/*四分之一椭圆*/
.ellipse-topleft{
	border-radius:100% 0 0 0;
}
.ellipse-topright{
	border-radius:0 100% 0 0;
}
.ellipse-bottomright{
	border-radius:0 0 100% 0;
}
.ellipse-bottomleft{
	border-radius:0 0 0 100%;
}



/* 动画  */
@-webkit-keyframes hue{
	from {
		-webkit-filter:hue-rotate(0deg);
	}
	to {
		-webkit-filter:hue-rotate(360deg);
	}
}
@keyframes hue{
	from{
		-webkit-filter:hue-rotate(0deg);
		filter:hue-rotate(0deg);
	}
	to{
		-webkit-filter:hue-rotate(360deg);
		filter:hue-rotate(360deg);
	}
}


.grayimg {
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	filter: grayscale(100%);
	filter: gray;
}