<style>
/*   具体的样式由传入的class控制，css由其他开发者实现  */
</style>
<script type="text/x-template" id="vue-pagination">
<div>
	<ul v-bind:class="listtype">
		<li v-for="n in parseInt(itemcount)" v-show="Math.ceil(n/pagesize)==curpage">
			<slot v-bind:name="'slot'+n">{{n}}</slot>
		</li>
	</ul>
	<ul class="pagination" v-bind:class="[paginationtype]">
		<li v-bind:class="[{disabled:curpage==1}]">
		    <a aria-hidden="true" v-on:click="gotoPage(curpage-1)">&laquo;</a>
		</li>
		<li v-for="n in pageNum" v-on:click="gotoPage(n)" v-bind:class="{active:n===curpage}">
			<a>{{n}}</a>
		</li>
		<li v-bind:class="[{disabled:curpage==pageNum}]">
		    <a aria-hidden="true" v-on:click="gotoPage(curpage+1)">&raquo;</a>
		</li>
	</ul>
	{{itemcount}}
</div>
</script>
<script>
Vue.component("vue-pagination",{
	template:"#vue-pagination",
	props:{
		'listtype':{
			'type':String,
			'default':'',
		},
		'itemcount':{
			'type':[Number,String],
			'required':true,
		},
		'pagesize':{
			'type':[Number,String],
			'default':5
		},
		'paginationtype':{
			'type':String,
			'default':''
		},
	},
	data:function(){
		return {
			curpage:1,
		}
	},
	computed:{
		pageNum:function(){
			return Math.ceil(this.itemcount/this.pagesize);
		},
	},
	methods:{
		gotoPage:function(page){
			page = parseInt(page);
			if(page<1||page>this.pageNum){
				return;
			}
			this.curpage = page
		},
	},
})
</script>