<style>
/*  本项目是把bootstrap的js插件改成vue组件，css沿用bootstrap的  */
</style>
<script type="text/x-template" id="vue-tab">
<div>
	<ul v-bind:class="tabtype" class="nav">
		<li v-for="tab in tabs" v-on:click="changeTab(tab.name)" v-bind:class="{active:tab.name===realtab}">
			<a>{{tab.showName}}</a>
		</li>
	</ul>
	<div class="tab-content">
		<div v-for="tab in tabs" class="tab-pane" v-bind:class="{active:tab.name==realtab}">
			<slot  v-bind:name="tab.name" ></slot>
		</div>
	</div>
</div>
</script>
<script>
Vue.component("vue-tab",{
	template:"#vue-tab",
	props:{
		'tabs':Array,
		'curtab':String,
		'tabtype':{
			type:String,
			default:''
		},
	},
	data:function(){
		return {
			realtab:this.curtab,
		}
	},

	methods:{
		changeTab:function(name){
			this.realtab = name;
		},
	},
})
</script>